table {
    border: 10px solid #a4a4a4;
    border-collapse: collapse;
}

td {
    border: 5px solid #a4a4a4;
    border-spacing: 0px;
}

tbody tr td button {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: #464646;
}

.game {
    display: flex;
    justify-content: center;
    text-align: center;
}

.option:hover {
    opacity: 0.8;
}

.selected {
    background-color: #2e9cca;
}

#btn-start,
#btn-resolve {
    margin: 0 0 1rem 0;
}

@media (max-width: 800px) {
    tbody tr td button {
        height: 70px;
        width: 70px;
    }
}