html,
body {
    height: 100%;
}

body {
    color: #f1f6f9;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    background-color: #1b1b1b;
    flex-flow: column;
}

.game {
    border: 6px solid #000;
}

table {
    border: 65px solid #a4a4a4;
    border-collapse: collapse;
}

thead tr td {
    text-align: center;
}

td {
    border: 5px solid #a4a4a4;
    border-spacing: 0px;
}

thead tr td {
    background-color: #000000 !important;
}

tbody tr td button {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: #464646;
}

.option:hover {
    opacity: 0.8;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.selected {
    background-color: #2e9cca;
    cursor: not-allowed;
}

button#btn-start {
    width: 100px;
}

td.box-btn button {
    width: -webkit-fill-available;
    height: 40px;
}

