/*** 1920x1080 ***/
.content {
    vertical-align: middle;
}

.image {
    text-align: center;
}

img {
    width: 50%;
    margin-top: 1em;
}

.instructions {
    list-style-position: inside;
    text-align: center;
    margin-top: 2.5rem;
    padding: 0 2%;
}

ol {
    padding: 0 2%;
}

form {
    align-content: center;
    text-align: center;
    padding: 1%;
    margin: 0 0 2em 0;
}

.form-option {
    width: 100%;
}

h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2em;
}

form button {
    margin: auto;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

form button:hover {
    cursor: pointer;
}

form input {
    margin: -0.5rem 0 1rem 0;
    padding: 0.5rem;
    font-size: 1.25rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.input-code-lvl {
    width: 150px;
    text-align: center;
}

/*** 1366x768 ***/
@media (max-width: 1366px) {
    h1 {
        font-size: 1.3em;
    }

    img {
        width: 60%;
    }

    .instructions {
        margin-top: 0;
    }
}

/*** 1024x768 ***/
@media (max-width: 1024px) {}

@media (max-height: 768px) {
    form {
        padding: 0 2%;
        display: flex;
        flex-flow: row wrap;
    }

    form label {
        width: 100%;
    }

    form label h2 {
        margin: 0.4em 0;
    }

    input[type="text"] {
        margin: auto 10px auto auto;
    }

    button {
        margin: auto auto auto 10px;
    }
}

/*** 800X600 ***/
@media (max-width: 800px) {
    img {
        width: 80%;
    }
}

/*** 500X600 ***/
@media (max-width: 500px) {
    input[type="text"] {
        margin: auto auto 5px auto;
        width: 90%;
    }

    button {
        margin: auto auto 5px auto;
        width: 60%;
    }
}

/*** 375X667 ***/
@media (max-width: 375px) {
    img {
        width: 90%;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1em;
    }

    li {
        font-size: 0.9em;
    }

    form label h2 {
        font-size: 1.5em;
    }

    form {
        display: block;
    }
}