form {
    align-content: center;
    text-align: center;
    padding: 2%;
}

img {
    width: 50%;
    margin-top: 1.5rem;
}
.instructions {
    list-style-position: inside;
    text-align: center;
    margin-top: 2.5rem;
}

form input {
    margin: -0.5rem 0 1rem 0;
    padding: 1rem;
    font-size: 1.25rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
