body {
    background-color: #1b1b1b;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3em;
}

div.container-ranking {
    margin: 60px auto 0 auto;
}

h1.title {
    color: #fff;
    font-size: 5.5em;
    font-weight: bold;
    font-family: AmongUsFont;
    text-align: center;
    width: 100%;
}

.ranking-box {
    width: 50%;
}

h2.subtitle {
    color: white;
    font-size: 4em;
    font-weight: bold;
    font-family: AmongUsFont;
    text-align: center;
    margin: 1% 0;
}

table {
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    color: #d1d1d1;
    margin: auto;
    background-color: #0c1e28;
}


thead {
    background-color: #0c1e28;
}

tbody {
    background-color: #213b4c;
}

tr:nth-child(even) {
    background-color: #1e3344;
}

thead tr td p {
    padding: 0 20px;
}

p.width-username {
    width: 400px;
}

p.width-points {
    width: 200px;
}

.table-title {
    font-size: 28px;
    margin: 15px 0;
    text-align: center;
}

div.image-box {
    width: 20%;
    margin: auto;
    text-align: center;
}

div.image-box img {
    height: 40px;
}

.username {
    width: 80%;
    font-size: 17px;
}

.points {
    text-align: center;
    font-size: 17px;
}