@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@font-face {
    font-family: AmongUsFont;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}

body {
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu Mono", monospace;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    position: unset;
    height: 60px;
}

header > first-child, #home, #uname  {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

header > * > * {
    color: white;
    font-weight: bold;
    width: 33%;
    text-align: center;
    text-decoration: none;
}

header div a {
    text-decoration: none;
    font-size: 1.17em;
    color: rgb(255, 255, 255);
}
