@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@font-face {
    font-family: AmongUsFont;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}

body {
    background-color: #2b2a2a;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu Mono", monospace;
    margin: 0;
}

header {
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 1.25rem;
}

h1 {
    font-family: AmongUsFont;
    font-size: 80px;
    margin: 1rem 0;
    text-align: center;
    font-size: 80px;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

button:enabled {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.container {
    text-align: center;
}

/*** 800X600 ***/
@media (max-width: 800px) {
    header {
        height: 4rem;
    }

    header a h2 {
        font-size: 1.5em !important;
    }
}
/*** 375X667 ***/
@media (max-width: 375px) {
    header {
        height: 3rem;
    }

    header a h2 {
        font-size: 1.3em !important;
    }
}