/*** 1920x1080 ***/
@font-face {
    font-family: AmongUsFont;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1em;
}

p#title {
    font-size: 8em;
    font-weight: bold;
    color: #0887fa;
    text-align: center;
    width: 100%;
    font-family: AmongUsFont;
    animation: 1.25s both titleEffect;
    margin-top: 1em 0;
}

div.box {
    width: 75%;
    background-color: #0ff;
    box-shadow: 0 0 65px 75px #0ff;
    margin: auto;
    border: 0px #0000;
    margin-top: 35px;
    margin-bottom: 7em;
    border-radius: 29px;
    display: flex;
    flex-flow: row wrap;
}

p#text {
    font-size: 33px;
    color: #000;
    text-align: center;
    width: 100%;
    margin: 5px 0;
    font-weight: bold;
}

input[type="submit"] {
    width: 120px;
    height: 33px;
    color: #000;
    font-size: larger;
    background-color: #efefef;
    border-radius: 5px;
    border: 1px solid #000;
}

form#form-home {
    margin: 25px 2% auto auto;
}

form#form-try-again {
    margin: 25px 2% auto 2%;
}

form#form-next {
    margin: 25px 2% auto 2%;
}

form#form-save {
    margin: 25px auto auto 2%;
}

footer {
    position: relative;
}

p.level-code {
    font-size: 25px;
    text-align: center;
    margin-bottom: 2%;
}

@keyframes titleEffect {
    from {
        font-size: 0em;
    }

    to {
        font-size: 8em;
    }
}

/***Switch settings***/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
  margin-left: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}


/*** 1366x768 ***/
@media (max-width: 1366px) {}

/*** 1024x768 ***/
@media (max-width: 1024px) {
    form {
        margin: auto !important;
        width: 25%;
        text-align: center;
    }
}

@media (max-height: 768px) {
    p#title {
        margin: 5% 0 1em 0;
    }

    div.box {
        box-shadow: 0 0 50px 58px #0ff;
    }

    @keyframes titleEffect {
        from {
            font-size: 0em;
        }

        to {
            font-size: 7em;
        }
    }
}

/*** 800X600 ***/
@media (max-width: 800px) {
    p#title {
        margin: 0.2em 0 1em 0;
    }

    form {
        margin: 1% auto !important;
        width: 50%;
    }

    p#text {
        margin: 1% 0 2% 0;
        font-size: 24px;
    }

    header a h2,
    header h2 {
        font-size: 1.2em !important;
    }
}

/*** 375X667 ***/
@media (max-width: 500px) {
    @keyframes titleEffect {
        from {
            font-size: 0em;
        }

        to {
            font-size: 5em;
        }
    }
}

/*** 375X667 ***/
@media (max-width: 375px) {
    p#text {
        font-size: 1.3em;
    }

    p#title {
        margin: 0.5em 0 0 0;
    }

    form {
        margin: 1% auto !important;
        width: 100%;
    }

    div.box {
        margin-top: 30%;
    }

    @keyframes titleEffect {
        from {
            font-size: 0em;
        }

        to {
            font-size: 4em;
        }
    }
}