@font-face {
    font-family: AmongUsFont;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}

body#victory {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0 10px;
}

p#title {
    font-size: 120px;
    font-weight: bold;
    color: #0887fa;
    text-align: center;
    width: 100%;
    font-family: AmongUsFont;
    animation: 1.25s both titleEffect;
}

div.box {
    width: 75%;
    background-color: #0ff;
    box-shadow: 0 0 65px 75px #0ff;
    margin: auto;
    border: 0px #0000;
    margin-top: 35px;
    border-radius: 29px;
    display: flex;
    flex-flow: row wrap;
}

p#text {
    font-size: 33px;
    color: #000;
    text-align: center;
    width: 100%;
    margin: 5px 0;
    font-weight: bold;
}

input[type="submit"] {
    width: 120px;
    height: 33px;
    color: #000;
    font-size: larger;
}

form#form-home {
    margin: 25px 25px auto auto;
}

form#form-next {
    margin: 25px auto auto 25px;
}

@keyframes titleEffect {
    From {
        font-size: 0px;
    }

    To {
        font-size: 120px;
    }
}